/* * {
    outline: .5px solid red;
} */


.title {
  font-family: 'geologica', sans-serif;
  font-weight: 900;
}

h1 {
    font-weight: 200;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-self: center;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

p {
    display: flex;
    justify-self: center;
    font-weight: 100;
    max-width: 650px;
    text-align: center;
}

a:link,
a:visited,
a:active {
  color: #000000;
  text-decoration: none;
  opacity: 100%;
}

a:hover {
  color: #000000;
  opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.box-link:link,
a.box-link:visited,
a.box-link:active {
  color: #ffffff;
  text-decoration: none;
  opacity: 100%;
}

a.box-link:hover {
  color: #ffffff;
  opacity: 50%;
}

/* Header section */

.nav-bar {
  border-radius: 15px;
  border-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px 0 30px;
  margin: 15px 0px;
}

.options {
    display: flex;
    text-align: center;
    gap: 20px;
}

/* Scroll section */

.scroll-container {
    border-radius: 15px;
}

.scroll-header {
    margin: 0;
    padding: 5px;
    /* font-size: 20px; */
}

.scroll {
  background-color: white;
  overflow-x: auto;
  /* white-space: nowrap; */
  /* padding: 10px; */
  display: flex;
}

.scroll img {
  width: 300px;       /* control image size */
  height: 300px;      /* optional */
  object-fit: cover;  /* keeps cropping nice */
  padding: 10px;
}

/* Footer section */

.footer {
    border-radius: 15px;
    /* background-color: #c6e8f6; */
    padding: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    gap: 25px;
    padding: 0px 0px 5px 0px;
}

.copyright {
    color: #000000;
    opacity: 50%;
}