* {
    outline: .5px solid red;
}

a:link,
a:visited,
a:active {
  color: #000000;
  text-decoration: none;
  opacity: 50%;
}

a:hover {
  color: #000000;
  opacity: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #c6e8f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px 0 50px;
  margin: 15px 0px;
}

.options {
    display: flex;
    text-align: center;
    gap: 40px;
}

.highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 15px 0px;
}

.box-one,
.box-two,
.box-three {
    border-radius: 15px;
    background-color: #c6e8f6;
    flex: 1 1 0;
    padding: 150px 10px 10px 10px;
    min-width: 200px;
}

.subheading, p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.catalogues {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0;
    justify-content: flex-start;

}

.one,
.two,
.three,
.four {
    border-radius: 15px;
    background-color: #c6e8f6;
    padding: 150px 10px 10px;
    min-width: 200px;
    flex: 0 1 calc((100% - 30px) / 3);
    box-sizing: border-box;
}