/* * {
    outline: .5px solid red;
} */


.title {
  font-family: 'geologica', sans-serif;
  font-weight: 900;
}

h2 {
    font-weight: 500;
    color: white;
}

p {
    font-weight: 100;
    color: white;
}


a:link,
a:visited,
a:active {
  color: #000000;
  text-decoration: none;
  opacity: 100%;
}

a:hover {
  color: #000000;
  opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  /* background-color: #c6e8f6; */
  border-radius: 15px;
  border-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px 0 30px;
  margin: 15px 0px;
}

.options {
    display: flex;
    text-align: center;
    gap: 20px;
}




.highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 15px 0px;
}


.box-one,
.box-two {
    border-radius: 15px;
    background-color: #c6e8f6;
    flex: 1 1 0;
    padding: 150px 20px 20px 20px;
    min-width: 300px;
    height: 200px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-one {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent),
  url("img/bicester-scramble-apr26-cover.jpg");
  background-size: cover;
  background-position: center;
}



.box-two {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/snetterton-june25-cover.jpg");
  background-size: cover;
  background-position: center;
}

a.box-link:link,
a.box-link:visited,
a.box-link:active {
  color: #ffffff;
  text-decoration: none;
  opacity: 100%;
}

a.box-link:hover {
  color: #ffffff;
  opacity: 50%;
}

.subheading, p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}




.catalogues {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0;
    justify-content: flex-start;
}

.box {
    border-radius: 15px;
    background-color: #c6e8f6;
    padding: 150px 20px 20px;
    min-width: 150px;
    flex: 0 1 calc((100% - 30px) / 3);
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#box-one {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/bicester-scramble-oct25-cover.jpg");
  background-size: cover;
  background-position: center;
}

#box-two {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/goodwood-fos-jul25-cover.jpg");
  background-size: cover;
  background-position: center;
}

#box-three {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/snetterton-classic-june25-cover.jpg");
  background-size: cover;
  background-position: center;
}

#box-four {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/london-concours-june25-cover.jpg");
  background-size: cover;
  background-position: center;
}

#box-five {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/porsche-club-may25-cover.jpg");
  background-size: cover;
  background-position: center;
}

#box-six {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("img/custom-shoot-may25-cover.jpg");
  background-size: cover;
  background-position: center;
}





.footer {
    border-radius: 15px;
    /* background-color: #c6e8f6; */
    padding: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    gap: 25px;
    padding: 0px 0px 5px 0px;
}

.copyright {
    color: #000000;
    opacity: 50%;
}

